{% extends "base.html" %}

{% block title %}Home - Price Scraper Tool{% endblock %}

{% block content %}
<div class="container">
    <!-- Main Content -->
    <div class="main-content" id="content">
        <h1 class="heading_home">📊 Welcome to Price Scraper Tool</h1>
        <p class="para1_home">This tool helps you <strong>store product details, fetch prices</strong> and <strong>analyze trends</strong> across different sales channels.</p>
        <p class="para2_home">📌 Use the sidebar to navigate.</p>
    </div>
</div>
{% endblock %}



